
		.form-div {
			border-radius: 10px;
			text-align: center;
			margin:10px auto;
			width:500px;
			box-shadow: none;
			background: #e4e4e4;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
		}
		.switch-field {
			font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
			overflow: hidden;
		}

		.switch-title {
			margin-bottom: 6px;
		}

		.switch-field input {
			display: none;
		}

		.switch-field label {
			display: inline-block;
			width: 160px;
			background-color: #e4e4e4;
			color: rgba(0, 0, 0, 0.6);
			font-size: 32px;
			font-weight: normal;
			text-align: center;
			text-shadow: none;
			padding: 6px 14px;
			border: 1px solid rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
		}
		h1 {
			font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
			color: rgba(0, 0, 0, 0.6);
			font-size: 38px;
			font-weight: normal;
			text-align: center;
			text-shadow: none;
		}
		h3 {
			font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
			color: rgba(0, 0, 0, 0.6);
			font-size: 32px;
			font-weight: normal;
			text-align: center;
			text-shadow: none;
		}
		.therm {
			font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
			color: rgba(0, 0, 0, 0.6);
			font-size: 32px;
			font-weight: normal;
			text-align: center;
			text-shadow: none;
		}

		.switch-field input:checked + label {
			background-color: #A5DC86;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		.switch-field label:first-of-type {
			border-radius: 4px 0 0 4px;
		}

		.switch-field label:last-of-type {
			border-radius: 0 4px 4px 0;
		}

		input[type=range]{
			margin-top: 20px;
			border: 20px solid #e4e4e4;
			background: #e4e4e4;
			width: 100px;
		}


		input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 12px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: none;
  background: #a4a4a4;
  border-radius: 7.7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 32px;
  width: 32px;
  border-radius: 10px;
  background: #A5DC86;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

